// $colorAnalogous_a: #4D85B2;
// $colorAnalogous_b: #7A4DB2;
// $colorAnalogous_c: #4D52B2;

$colorAnalogous_a: #e6e7ff;
$colorAnalogous_b: #f2e6ff;
$colorAnalogous_c: #e6f3ff;

$colorAnalogous_a_dark: #000479;
$colorAnalogous_b_dark: #380079;
$colorAnalogous_c_dark: #004079;
