
$text_color: black;
$text_dark: white;

$colorAnalogous_a: #e6e7ff;
$colorAnalogous_b: #f2e6ff;
$colorAnalogous_c: #e6f3ff;

$colorAnalogous_a_dark: #000479;
$colorAnalogous_b_dark: #380079;
$colorAnalogous_c_dark: #004079;
