@import "../../usage/styles/constants/constants";
@import "../../usage/styles/constants/grid";
@import "../../usage/styles/constants/colors";
@import "../../usage/styles/constants/animations";

$width: 300px;

.char-parent {
  @include parent_paper_after_header;
}

.characters {
  @include grid-system;
  padding: 5px;
}

.character {
  @include box;
}

.char_hover {
  @include box_hover;
}

.char-name {
  font-size: 0.9rem;
  color: $text_color;
  font-weight: bold;
  font-size: 1.5rem;
  align-self: center;
}

.char-image {
  animation: zoomOutBackground 0.1s ease-in-out forwards alternate;
  filter: grayscale(100%);
}
.image-container {
  border-radius: 10px;
  overflow: hidden;
  width: $width * 0.9;
}

.char-location {
  text-decoration: none;
  color: $text_color;
  font-size: 1.1rem;
  border: 1px solid $colorAnalogous_b_dark;
  border-radius: 5px;
  padding-inline: 10px;
  &:hover {
    background-color: $colorAnalogous_c_dark;
    color: $colorAnalogous_c;
  }
  flex: auto;
}

.char-bigger {
  justify-content: center;
  gap: 20px;
  .char-name {
    font-size: 2rem;
  }
  .char-image {
    width: $width * 2;
  }
  .image-container {
    width: $width * 1.9;
  }
  .char-location {
    max-height: 50px;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
