@import "../../usage/styles/constants/constants";
@import "../../usage/styles/constants/grid";
@import "../../usage/styles/constants/colors";
@import "../../usage/styles/constants/animations";

$width: 300px;

.char-parent {
  @include parent_paper_after_header;
}

.characters {
  @include grid-system;
  padding: 5px;
}

.character {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  background-color: $colorAnalogous_c;
  color: $colorAnalogous_c_dark;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 2px 2px 5px $colorAnalogous_c_dark;
  overflow: hidden;
}

.char_hover {
  &:hover {
    box-shadow: 1px 1px 2px $colorAnalogous_c_dark;
    transform: translate(2px, 2px);
    cursor: pointer;
    transition:
      transform 0.1s ease-in-out,
      box-shadow 0.2s ease-in-out;
    .char-image {
      animation: zoomInBackground 0.2s ease-in-out forwards alternate;
    }
  }
}

.char-name {
  font-size: 0.9rem;
}

.char-image {
  animation: zoomOutBackground 0.1s ease-in-out forwards alternate;
  filter: grayscale(100%);
}
.image-container {
  border-radius: 10px;
  overflow: hidden;
  width: $width * 0.9;
}

.char-location {
  text-decoration: none;
  color: $colorAnalogous_c_dark;
  font-size: 1rem;
  border: 1px solid $colorAnalogous_b_dark;
  border-radius: 5px;
  padding-inline: 10px;
  &:hover {
    background-color: $colorAnalogous_c_dark;
    color: $colorAnalogous_c;
  }
}

.char-bigger {
  .char-image {
    width: $width * 2;
  }
  .image-container {
    width: $width * 1.9;
  }
}
