@import "../../usage/styles/constants/constants";
@import "../../usage/styles/constants/grid";
@import "../../usage/styles/constants/colors";

.episodes_parrent {
  @include parent_paper_after_header;
}
.episodes {
  @include grid-system;

  button {
    background: $colorAnalogous_c_dark;
    color: white;
    border: none;
    font-size: 18px;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid $colorAnalogous_c_dark;
    cursor: pointer;
    transition:
      background 0.3s ease-in-out,
      color 0.3s ease-in-out;

    &:hover {
      background: $colorAnalogous_c;
      color: $colorAnalogous_c_dark;
      border: 2px solid $colorAnalogous_c_dark;
    }
    &:disabled {
      background-color: grey;
      border-color: grey;
      cursor: not-allowed;
      color: white;
    }
  }
}

.episode {
  @include box;
}
.episode-hover {
  @include box-hover;
}
