@import "../../usage/styles/constants/colors";

.navbar {
  display: flex;
  // background-color: $colorAnalogous_c_dark;
  padding: 20px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: -5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 7;
}

.navbar > * {
  color: $colorAnalogous_a_dark;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 5px;
  padding: 10px;
  background-color: $colorAnalogous_c;
  box-shadow: 2px 2px 3px black;
  &:hover {
    box-shadow: 1px 1px 3px $colorAnalogous_a_dark;
    transform: translate(2px, 1px);
    transition:
      transform 0.1s ease-in-out,
      box-shadow 0.2s ease-in-out,
      color 0.7s ease-in-out;
  }
}
