.App {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}
.btns {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btns * {
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}

.characters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 20px;
}
.character {
  display: flex;
  gap: 2rem;
  border-radius: 5px;
  background-color: #f2f2f2;
  box-shadow: 2px 2px 4px rgba(0.4, 0.4, 0.4, 0.6);
  overflow: hidden;
  /* background-color: ; */
}
